/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */


.header{
  background-color: rgb(170,170,170);
}

.body{
  background-color: rgb(170,170,170);
}


/*サイトタイトル*/
.header__title{
  font-size: 40px;
  text-align: center;
  color: rgb(60,60,60);
  padding: 50px;
  background-color: rgb(153,153,153);
  border-color: rgb(143,143,143);
  margin-left: 25px;
  margin-right: 25px;
}

/*ナビゲーション*/
.global-nav{
  text-align: center;
  background-color: rgb(170,170,170);
}

.global-nav__items{
  color: rgb(60,60,60);
  padding: 20px;
  border-color: rgb(143,143,143);
  margin-left: 25px;
  margin-right: 25px;
}

.global-nav__item{
  display: inline-block;
}

.global-nav__link{
  text-decoration: none;
  align-content: space-around;
  color: rgb(60,60,60);
  background-color: rgb(207,207,207);
  padding: 20px;
}

/*Homeなど*/
.bread-crumbs{
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(170,170,170);
}

.bread-crumbs__items{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(92,92,92);
}

.bread-crumbs__item{
  display: inline-block;
}

.bread-crumbs__link{
  text-decoration: none;
  color: rgb(239,239,239)
}

/*広告バナー上*/
.top-ads{
  text-align: center;
  background-color: rgb(170,170,170);
  padding-left: 25px;
  padding-right: 25px;
}

.top-ads__items{
  border-color: rgb(143,143,143);
  background-color: rgb(203,203,203);
  padding:15px 20px 15px 20px;
}

.top-ads__item{
  display: inline-block;

}

.top-ads__link{
  padding:0px 10px 0px 10px;

}

.top-ads__image{

}

/*本文*/
.main{
  display: block;
  line-height: 1.5;
  float: right;
  width: 1050px;
  margin-right: 25px;
}

.main-header{
  background-color: rgb(238,238,238);
}

/*ページタイトル*/
.main-header__title{
  padding: 10px;
  color: rgb(60,60,60);
  font-size: 35px;
}

/*記事タイトルの親*/
.article{
  padding: 10px;
  background-color: rgb(221,221,221);
}

/*記事タイトル*/
.article__title{
 font-size: 30px;
 color: (51,51,51);
}

/*段落*/
.article__paragraph{
  padding: 10px;
}

/*表裏院*/
.article__strong{
  font-weight: bold;
}

/*リンク*/
.article__link{
  color: rgb(76,117,226);
}

/*記事見出し*/
.article__sub-title{
  font-size: 20px;
  padding: 10px;
}

/*番号なしリスト*/
.article__unorder-list{
  padding-left: 30px;
  padding-right: 30px;
  list-style-type: disc;
}

.article__unorder-list-item{

}

/*食べ物の画像*/
.article__image{
  height: 50%;
  width: 100%;
}

/*小見出し*/
.article__sub-sub-title{
  font-size: 20px;
  padding: 10px;
}

/*番号ありリスト*/
.article__order-list{
  padding-left: 30px;
  padding-right: 30px;
  list-style-type: decimal;
}

.article__order-list-item{

}

/*お問い合わせ*/
.form{
  background-color: rgb(255,255,255);
  width: 1050px;
  border-width: 1px;
  border-style: solid;
}

.form__title{
  font-size: 20px;
  padding: 15px;
  font-weight: bold;
}

/*お問い合わせなどを並べた*/
.form-item{
  padding: 15px;
  border: 10px;
  border-color: rgb{238,238,238};
}

.form-item__label{
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}


/*テキスト入力欄*/
.form-item__text-input{
  border-width: 1px;
  border-style: solid;
}

.form-item__inline-items{
  padding: 20px;
}

.form-item__radio{
  padding: 20px;
}

.form-item__radio-input{
  font-weight: bold;
}

/*サイドバー*/
.aside{
  display: flex;
  display: block;
  background-color: rgb(102,102,102);
  padding-bottom: 2000px;
  margin-left: 25px;
  margin-right: 25px;
  width: 340px;
}

.aside-ads__items{
  width: 340px;
  background-color: rgb(102,102,102);
}

.aside-ads__item{
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px 0 20px;
}

.aside-ads__link{
  width: 340px;
}
.aside-ads__image{
  display: block;
  width: 300px;
  text-align: center;
}

/*ローカルナビ*/
.local-nav{
  text-align: center;
  overflow: auto;
  padding: 0 20px 0 20px;
  line-height: 2;
  border-radius: 15px;
  background-color: rgb(153,153,153);
  width: 180px;
  height: 150px;
}

.local-nav__items{

}

.local-nav__item{

}

.local-nav__link{
  color: rgb(239,239,239);
  text-decoration: none;
}


/*フッター
ヒント1：.fotterのdisplayをflexにします。
ヒント2：flexboxを指定していて要素が幅からあふれた場合の挙動を利用します。*/
.footer{
  display: flex;
  background-color: rgb(170,170,170);
  padding-left: 25px;
  padding-right: 25px;
}

.footer-nav{
  background-color: rgb(68,68,68);
  height: 400px;
  padding: 20px;
}

.footer-nav__items{
  display: flex;
  flex-wrap: wrap;
}

.footer-nav__item{
  padding-left: 20px;
  padding-right: 20px;
}

.footer-nav__link{
  text-decoration: none;
  line-height: 1.5;
  color: rgb(239,239,239);
}

/*作者*/
.about-author{
  background-color: rgb(170,170,170);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 50%;
}

.about-author__title{
  color: rgb(65,65,65);
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-author__image{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  float: left;
}

.about-author__descriptions{

}

.about-author__term{

}


.footer-copyright{
  background-color: rgb(68,68,68);
  color: rgb(239,239,239);
  width: 100%;
  padding: 20px 50px 20px 50px;
  margin-left: 25px;
}
