/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

.container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background-color: rgb(170,170,170);
}

.body{
  background-color: rgb(170,170,170);
}

/*サイトタイトル*/
.header__title{
  position: relative;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px 0px #ffffff;
  text-align: center;
  color: rgb(60,60,60);
  box-shadow: 0px 0px 10px;
  padding: 50px;
  background-color: rgb(153,153,153);
  border-color: rgb(143,143,143);
  margin:0px 28px 0px 28px;
}

/*ナビゲーション*/
.global-nav{
  position: relative;
}

.global-nav__items{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: 0px 0px 10px;
  padding: 24px 0 24px 0;
  margin-left: 28px;
  margin-right: 28px;
}

.global-nav__item{
  display: inline-block;
}

.global-nav__link {
  text-decoration: none;
  font-weight: bold;
  text-shadow:0px 1px 0px #ffffff;
  color: rgb(60,60,60);
  background-color: rgb(207,207,207);
  padding: 24px 82px 24px 82px;
}

/*Homeなど*/
.bread-crumbs{
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
  background-color: rgb(170,170,170);
}

.bread-crumbs__items{
  box-shadow:0px 0px 10px;
  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgb(92,92,92);
}

.bread-crumbs__item{
  display: inline-block;
  list-style-type: none;
}
/*パンくずリスト*/
li.bread-crumbs__item :before{
  content: " > ";
}

li.bread-crumbs__item :first child before{
  content:"";
}

.bread-crumbs__link{
  text-decoration: none;
  color: rgb(239,239,239)
}

/*広告バナー上*/
.top-ads{
  position: relative;
  background-color: rgb(170,170,170);
  padding-left: 28px;
  padding-right: 28px;
}

.top-ads__items{
  box-shadow:0px 0px 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-color: rgb(143,143,143);
  background-color: rgb(203,203,203);
  padding:20px 8px 20px 8px;
}

.top-ads__item{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  display: inline-block;
}

.top-ads__link{
  padding:0px 10px 0px 10px;

}

.top-ads__image{

}

/*本文*/
.main{
  position: relative;
  display: block;
  line-height: 1.5;
  float: right;
  width: 1055px;
  margin-right: 28px;
}

.main-header{
  background-color: rgb(238,238,238);
}

/*ページタイトル*/
.main-header__title::before {
  position: absolute;
  content: "★";
  display: block;
  text-indent:0em;
  height: 8px;
  left: 10px;
  right: 2px;
}

.main-header__title{
  position: relative;
  font-weight: bold;
  font-size: 35px;
  text-indent: 1em;
  box-shadow:0px 0px 10px;
  padding: 10px;
  color: rgb(60,60,60);
}

/*記事タイトルの親*/
.article{
  box-shadow:0px 0px 10px;
  padding: 10px;
  background-color: rgb(221,221,221);
}

/*記事タイトル*/
.article__title::before {
  position: absolute;
  content: "★";
  display: block;
  height: 8px;
  left: 100px;
  right: 2px;
  margin-left:235px;
}

.article__title{
 font-weight: bold;
 font-size: 30px;
 text-indent: 1em;
 color: (51,51,51);
}

/*段落*/
.article__paragraph{
  padding: 10px;
}

/*表裏院*/
.article__strong{
  font-weight: bold;
}

/*リンク*/
.article__link{
  color: rgb(76,117,226);
}

/*記事見出し*/
.article__sub-title{
  font-size: 20px;
  padding: 10px;
}

/*引用文内*/
.article__blockquote{
  display: block;
  padding: 36px 10px 36px 36px;
}

.article__blockquote-paragraph{
  display: block;
}

/*番号なしリスト*/
.article__unorder-list{
  padding-left: 30px;
  padding-right: 30px;
  list-style-type: disc;
}

.article__unorder-list-item{

}

/*食べ物の画像*/
.article__image{
  width: 100%;
}

/*小見出し*/
.article__sub-sub-title{
  position: relative;
  font-size: 20px;
  padding: 10px;
}

/*番号ありリスト*/
.article__order-list{
  position: relative;
  list-style-type: decimal;
  padding-left: 30px;
  padding-right: 30px;
}

.article__order-list-item{

}

/*お問い合わせ*/
.form{
  position: relative;
  display: block;
  box-shadow:0px 0px 10px;
  background-color: rgb(255,255,255);
  height: 1300px;
}

.form__title{
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  margin-left: 50px;
}

/*お問い合わせなどを並べた*/
.form-item{
  position: relative;
  display: flex;
  align-content: flex-start;
  padding: 10px;
  margin: 0 10px 30px 0;
}

.form-item__label{
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  width: 200px;
  border-width: 1px;
  margin-right: 15px;
}

/*テキスト入力欄*/
.form-item__text-input{
  display: flex;
  justify-content: flex-start;
  float: right;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(220,220,220);
  width: 770px;
  padding: 10px;
}

/*パスワード入力欄*/
.form-item__text-input.is-password{
  display: flex;
  justify-content: flex-start;
  float: right;
  width: 800px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(220,220,220);
  margin-right: 50px;
}

/*複数行の入力欄*/
.form-item__textarea{
  display: flex;
  justify-content: flex-start;
  float: right;
  width: 800px;
  height: 300px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(220,220,220);
  margin-right: 65px;
}

.form-item__inline-items{
  display: flex;
}

.form-item__inline-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(215,215,215);
  background-color: rgb(238,238,238);
  margin-right: 10px;
}

/*ラジオ*/
.form-item__radio{

}

/*ラジオその１その２その３*/
.form-item__radio-input{

}

/*チェックボックス*/
.form-item__checkbox{

}

/*チェックボックスその１その２その３*/
.form-item__checkbox-input{

}

/*プルダウンテキスト*/
.form-item__select-pull-down{
  display: block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  border-style: inset;
  padding-right: 580px;
  -webkit-appearance: none;
}

/*リストセレクト*/
.form-item__select-list{
  width: 700px;
}

/*セレクトB*/
.form-item__select-list-option{
  display: block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  border-bottom-style: inset;
  background-color: rgb(238,238,238);
  border-bottom-color: rgb(215,215,215);
}

/*ファイル選択*/
input[type="file"]{
  display: block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(215,215,215);
  background-color: rgb(238,238,238);
  padding: 5px 325px 5px 0px;
  -webkit-appearance: none;
}

.form-item__file{

}

/*ボタン*/
.form-item__actions{

}

.form-item__actions-items{
  display: flex;
}

.form-item__actions-item{
  display: block;
  height: 30px;
}

/*送信する*/
input[type="submit"]{
  background-color: rgb(68,68,68);
  color: rgb(239,239,239);
}

.form-item__action.is-submit{
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px;
  border-style: outset;
  border-color: rgb(15,15,15);
  padding: 15px;
  margin-right: 15px;
}

/*リセット*/
input[type="reset"]{
  background-color: rgb(204,204,204);
}

.form-item__action.is-reset{
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px;
  border-style: outset;
  padding: 15px;
}

/*サイドバー*/
.aside{
  position: relative;
  box-shadow:0px 0px 10px;
  display: block;
  width: 330px;
  background-color: rgb(102,102,102);
  padding-bottom: 2160px;
  margin-left: 27px;
}

.aside-ads__items{
  width: 340px;
  background-color: rgb(102,102,102);
}

.aside-ads__item{
  padding: 15px 0px 0px 15px;
}

.aside-ads__link{
  width: 340px;
}

.aside-ads__image{
  display: block;
  text-align: center;
  width: 300px;
}

/*ローカルナビ*/
.local-nav{
  position: relative;
  display: block;
  text-align: center;
  overflow: auto;
  line-height: 2.5;
  border-radius: 5px;
  background-color: rgb(153,153,153);
  height: 150px;
  margin: 15px 15px;
  border-bottom: 3px;
}

.local-nav__items{
  border-bottom: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: rgb(102,102,102);
}

.local-nav__item{
  border-style: solid;
  border-bottom-width: 3px;
  border-color: rgb(102,102,102);
}

.local-nav__link{
  color: rgb(239,239,239);
  text-decoration: none;
}

/*フッター*/
.footer{
  position: relative;
  box-shadow:0px 0px 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(68,68,68);
  margin-left: 28px;
  margin-right: 28px;
}

.footer-nav{
  position: relative;
  display: flex;
  padding: 20px 20px 20px 10px;
}

.footer-nav__items{
  line-height: 1.5;
}

li.footer-nav__item :before{
  content: " > ";
}

.footer-nav__item{
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  padding-left: 20px;
}

.footer-nav__link{
  display: block;
  text-decoration: none;
  color: rgb(239,239,239);
  padding: 5px;
}

/*作者*/
.about-author{
  position: absolute;
  line-height: 2;
  border-radius: 5px;
  background-color: rgb(170,170,170);
  padding: 20px;
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 30px;
}

.about-author__title{
  color: rgb(65,65,65);
}

.about-author__image{
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  height: 80px;
  float: left;
}

/*私の名前 私の職業など 自己紹介文*/
dd.about-author__descriptions{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
  margin-left: 30px;
}

.about-author__descriptions{
  margin-left: 80px;
}

/*名前 職業など*/
dt.about-author__term{
  display: flex;
  align-items: flex-start;
  float: left;
  width: 70px;
}

.footer-copyright{
  position: relative;
  padding-bottom: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68,68,68);
  color: rgb(239,239,239);
  padding: 30px;
  margin-top: 50px;
  bottom: 0px;
}
